header {
  display: flex;
  background-color: #ddd;
}
.logo {
  width: 45%;
}

nav {
  width: 45%;
  display: flex;
  font-size: large;
  margin-top: 50px;
}

nav a {
  font-size: 40px;
  margin-left: 40px;
  color: #2dc5c0;
}
.about-noi-dung {
  width: 45%;
  margin-left: 20px;
  margin-top: 30px;
}

.about-noi-dung h1 {
  text-align: right;
  margin-right: 20px;
}

.about .line {
  color: transparent;
  background: #2dc5c0;
  width: 120px;
  margin-top: -20px;
  height: 10px;
  margin-left: 415px;
  border-radius: 10px;
}

.about-noi-dung p {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  font-size: 18px;
  line-height: 50px;
}

.about {
  display: flex;
  background-color: rgb(236, 236, 235);
  margin-top: 20px;
}

.best-seller {
  display: flex;
  padding: 20px;
}

.products-list,
.sale-of {
  width: 45%;
}

.best-seller h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2dc5c0;
}

.products {
  display: flex;
}

.product-card {
  width: 42%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card del {
  color: rgb(150, 159, 167);
}

.product-card ins {
  color: red;
  margin-left: 15px;
}

.product-card button {
  background-color: #f37b14;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  padding: 15px;
  width: 100px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid;
}

th,
td {
  border: 1px solid #ddd;
  padding: 16px;
  text-align: center;
}

th {
  color: #ffffff;
  background-color: #2dc5c0;
}

.services h1 {
  text-align: center;
  color: #2dc5c0;
}

.services img,
.services .form-tu-van {
  width: 45%;
}

form {
  display: flex;
  background-color: #ddd;
}

.form-tu-van p {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 50px;
  line-height: 50px;
}

.form-tu-van {
  margin-left: 30px;
}

.entry {
  margin-top: 10px;
}
.entry label {
  font-size: 20px;
  font-weight: bold;
  color: #f37b14;
}

.entry input {
  width: 400px;
  height: 25px;
}

.entry input.name {
  margin-left: 30px;
}

.entry input.phone {
  margin-left: 60px;
}

.entry input.address {
  margin-left: 45px;
}

button {
  background-color: #f37b14;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 30px;
  width: 150px;
  cursor: pointer;
}

.button .send {
  margin-left: 180px;
  margin-right: 10px;
}

footer {
  text-align: center;
  background-color: #2dc5c0;
  color: #ffffff;
}
